* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.carousel-image {
    height: 30rem;
}

.carousel-heading {
    background-color: rgba(0, 0, 0, .5);
}

.description-heading {
    text-align: center;
}

.description-card-text {
    text-align: center;
}

.login-box {
    border: solid 1px blue;
    margin: 5rem 20rem;
    width: 45rem;
}

.login-box h1 {
    text-align: center;
    padding: 10px 20px 10px;
}

.signup-box {
    border: solid 1px blue;
    margin: 5rem 19rem;
    width: 45rem;
}

.signup-box h1 {
    text-align: center;
    padding: 10px 20px 10px;
}

.check-box {
    margin: 0 5px 0 10px !important;
}

.form-check-inline {
    margin-right: 0;
}

form {
    margin: 10px 30px auto;
    padding: 20px ;
}

#description {
    padding: 20px 30px 10px;
}

#connect-with-us{
    text-align: center;
    margin: 3% auto;
}

.social-media-icons {
    padding: 10px 20px;
}

.districts-card {
    padding: 10px 15px;
}

#districts img {
    width: 100%;
}

meter {
    /* width: 600px !important; */
    height: 25px !important;
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
meter[value="3"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }


/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: orange;}
meter[value="3"]::-moz-meter-bar { background: yellow; }
meter[value="4"]::-moz-meter-bar { background: green; }
